

<div class="row" >
    <div class="col-sm-6 col-sm-offset-3" >
        


        <h2>
        	<%= link_to @object.title , show_article_url(@object.slug) %>
        </h2>

        <%= image_tag @object.medium_image_url %>
        <br />
        <p><%= @object.description %></p>



        <% counter = 1 %> 

        <% @object.reimburse_details.each do |reimburse_detail| %>
 
        	<h3>
        		<%= "#{counter}. #{reimburse_detail.title}"%> 
        	</h3>

        	<p>
        		<%= image_tag reimburse_detail.medium_image_url  %> 
        	</p>

        	<p>
        		<%= reimburse_detail.description %>
        	</p>

            <% if reimburse_detail.website_url.length != 0 %>
            <p>
                <%= link_to  "See More" , url_with_protocol( reimburse_detail.website_url )  ,  
                        :class => "btn btn-success" ,:target => "_blank" %>
            </p>
            <% end %> 

            <% counter = counter + 1 %> 
       	<% end %> 
    </div>

</div>